@keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  .loadingSpinner {
    width: 60px;
    height: 60px;
    border: 6px solid rgba(182, 179, 198, 0.2); /* Light grey */
    border-top: 6px solid #120B48; /* Black */
    border-radius: 50%;
    animation: spinner 1.5s linear infinite;
  }

  .spinnerContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }